name: Deploy Frontend to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node 20
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Remove package-lock.json & node_modules
      run: |
        rm -f package-lock.json
        rm -rf node_modules

    - name: Clean npm cache
      run: npm cache clean --force

    - name: Install dependencies (ignore errors)
      run: |
        npm install --legacy-peer-deps --force

    - name: Build project
      run: |
        npm run build

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ap-south-1

    - name: Upload to S3
      run: |
        aws s3 sync build/ s3://front-end-eflow --delete

    - name: Invalidate CloudFront Cache
      run: |
        aws cloudfront create-invalidation \
        --distribution-id ${{ secrets.CLOUDFRONT_ID }} \
        --paths "/*"
