name: Deploy Frontend to S3

on:
  push:
    branches:
      - main
 
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build

    - name: Sync to S3
      run: |
        aws s3 sync build/ s3://front-end-eflow --delete

    - name: Invalidate CloudFront
      run: |
        aws cloudfront create-invalidation \
        --distribution-id CLOUDFRONT_ID \
        --paths "/*"
